body, html {
  height: 100%;
}

/**
  Manage Display Headers for Mobile Devices
  https://github.com/twbs/bootstrap/issues/22104#issuecomment-387431795
**/
@media (max-width: 575.98px) {
  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .lead {
    font-size: 0.6rem;
    font-weight: 150;
  }
}

.lead {
  font-weight: 150;
}
