/**
  Slight modifications to the Bootstrap CSS
**/
body, html {
  height: 100%;
}

ul {
  text-align: center;
}

.lead-footer {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
}

.lead-small {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.list-group-flush .list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-radius: 0;
}

/**
  Manage Display Headers for Mobile Devices
  https://github.com/twbs/bootstrap/issues/22104#issuecomment-387431795
**/
@media (max-width: 1125px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .lead-small {
    font-size: .65rem;
  }

  .lead-footer {
    font-size: 8px;
  }
}
